/*MIXIN*/
.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}
.border-radius(@radius: 4px){
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
}

.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
	text-shadow: @string;
}
/*END MIXIN*/
.container{
	/*width: 940px;*/
	margin: 0 auto;
}
.box{
	padding: 90px 0;
}
.btn{
	background: #fed136;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
	cursor: pointer;
	z-index: 2;
	.transition(all .5s);
	.text-shadow(3px 0px 2px #555);
	position: relative;
	&:hover{
	    color: #fed136;
		background: #fff;
		.transition(all .5s);
	}
}
.small-title{
	margin-bottom: 10px;
	color: #222;
	font: bold 16px 'Arial';
}
.title{
	color: #222;
	font: bold 40px 'Arial';
	text-transform: uppercase;
}
p.discription{
	font-size: 16px;
	color: #777777;
	font-weight: bold;
}
.text{
	color: #777777;
	font: 16px/19px Arial, sans-serif;
	margin-bottom: 0;
}
input, textarea {
	width: 100%;
	border: 1px solid transparent;
	color: grey;
	text-transform: uppercase;
	padding-left: 25px; 
	font: bold 14px Arial, sans-serif;
	.border-radius(4px);
}
input:focus, textarea:focus{
	outline: none;
	border: 1px solid #cccccc;
}
header{
	padding: 20px 0;
	position: absolute;
	top: 20px;
	width: 100%;
	.logo{
		float: left;
	}
	.nav{
		float: right;
		li{
			display: inline-block;
			a{
				text-transform: uppercase;
				font-size: 15px;
				padding: 10px 15px;
				&:hover{
					color: #fed136;
				}
			}
		}
	}
}
#home{
	background: url('../images/header-bg.jpg') no-repeat center;
	background-size: cover;
	height: 700px;
	text-align: center;
	color: #fff;
	padding-top: 276px;
	h3{
		font-size: 40px;
		line-height: 40px;
		margin-bottom: 20px;
	}
	h1{
		font-size: 75px;
		line-height: 75px;
		text-transform: uppercase;
		margin-bottom: 50px;
	}
}
#service{
	text-align: center;
	background: #fff;
	h2{.title;}
	.container-wrap{
		padding-top: 70px;
		.service-item{
			/*float: left;
			width: 33.3%;*/
			padding: 80px 10px 0 10px;
			.container-wrap{
				p{
					line-height: 24px;
					text-transform: lowercase;
				}
			}
		}
		.commerce{background: url('../images/service_img1.png') no-repeat center top;}
		.responsive{background: url('../images/service_img2.png') no-repeat center top;}
		.security{background: url('../images/service_img3.png') no-repeat center top;}
	}
}
#portfolio{
	text-align: center;
	background: #f7f7f7;
	#Carousel{
		padding-top: 25px;
		.imagesBoxWrap{
			a.ImagesBox{
				display: block;
				overflow: hidden;
				position: relative;
				img{
					-webkit-transition: 3.s;
					-o-transition: 3.s;
					transition: 3.s;
				}
				&:hover img{
					cursor: pointer;
					-webkit-transform: scale(1.2);
					-ms-transform: scale(1.2);
					-o-transform: scale(1.2);
					transform: scale(1.2);
					-webkit-transition: 2.s;
					-o-transition: 2.s;
					transition: 2.s;
				}
				&:hover .hiddenDiscription{
					cursor: pointer;
					visibility: visible;
					opacity: 1;
					position: absolute;
					top: 0%;
					left: 0%;
					width: 100%;
					height: 100%;
					background: rgba(0,0,0, .6);
					-webkit-transition: all .3s ease;
					-o-transition: all .3s ease;
					transition: all .3s ease;
				}
				&:hover .smallTitle{
					visibility: visible;
					opacity: 1;
					position: absolute;
					top: 35%;
    				left: 0%;
    				right: 0%;
    				-webkit-transition: .4s ease;
					-o-transition: .4s ease;
					transition: .4s ease;
					-webkit-transition-delay: .6s;
    				-o-transition-delay: .6s;
    				transition-delay: .6s;
				}
				&:hover .smallDiscription{
					visibility: visible;
					opacity: 1;
					position: absolute;
					bottom: 40%;
					left: 0%;
					right: 0%;
					z-index: 1;
					font-weight: bold;
					-webkit-transition: all .4s ease;
					-o-transition: all .4s ease;
					transition: all .4s ease;
					-webkit-transition-delay: 1s;
    				-o-transition-delay: 1s;
    				transition-delay: 1s;
				}
				.hiddenDiscription{
					visibility: hidden;
					opacity: 0;
					/*background: rgba(0,0,0, .7);*/
					position: absolute;
					top: 0%;
					bottom: 0%;
					left: 0%;
					right: 0%;
					-webkit-transition: all .7s ease;
					-o-transition: all .7s ease;
					transition: all .7s ease;
				}
				.smallTitle{
					font: bold 18px Arial, sans-serif;
					color: #fff;
					visibility: hidden;
					opacity: 0;
					position: absolute;
					top: -11%;
    				left: 0%;
    				right: 0%;
    				z-index: 9999;
					-webkit-transition: .3s ease;
					-o-transition: .3s ease;
					transition: .3s ease;
					-webkit-transition-delay: .4s;
    				-o-transition-delay: .4s;
    				transition-delay: .4s;
					&:hover{
						text-decoration: none;
					}
				}
				.smallDiscription{
					font: normal 14px Arial, sans-serif;
					color: #ffffff;
					visibility: hidden;
					opacity: 0;
					position: absolute;
					bottom: -11%;
					left: 0;
					right: 0%;
					-webkit-transition: .3s ease;
					-o-transition: .3s ease;
					transition: .3s ease;
					-webkit-transition-delay: .8s;
    				-o-transition-delay: .8s;
    				transition-delay: .8s;
					&:hover{
						text-decoration: none;
					}
				}
			}
		}
		.left, .right{
			background-image: none;
		}
		.left{left: 0;}
		.right{right: 0;}
		.carousel-control{
		    position: relative;
	        bottom: -79px;
		    font-size: 56px;
		    text-shadow: 0 1px 2px rgba(0,0,0,.6);
		    color: blue;
		    opacity: .6;
		}
	}
}
#about{
	background: #fff;
	text-align: center;
	.row	{
		padding: 15px 0;
		margin: 35px 0;
		img{
			float: none;
			display: block;
			margin: 0 auto;
			position: relative;
		}
	}
	
	#left{
		text-align: right;
	}
	#right{
		text-align: left;
		img{
			margin-left: 60px;
		}
	}

}
#team{
	text-align: center;
	background: #f9f9f9;
	.circle-item{
		/*width: 33.3%;
		float: left;*/
		.item{
			margin: 0 auto 20px;
			background: #000;
			overflow: hidden;
			border-radius: 50%;
			height: 220px;
			width: 220px;
		}
		.social{
			margin: 10px auto 0;
			text-align: center;
			a{
				position: relative;
				display: inline-block;
				width: 41px;
				height: 41px;
				margin-right: 7px;
				&:before{
					content: '';
					display: block;
					width: 41px;
					height: 41px;
					position: absolute;
					top: 0;
					left: 0;
					background-image: url("../images/social.png");
				}
			}
			.twitter:before{background-position: 0 0;}
			.twitter:hover:before{background-position: -43px 0;}

			.facebook:before{background-position: 0px -49px;}
			.facebook:hover:before{background-position: -43px -49px;}

			.pie:before{background-position: 0 -97px;}
			.pie:hover:before{background-position: -43px -97px;}

			.google:before{background-position:  0 -142px;}
			.google:hover:before{background-position:  -43px -142px;}
		}
	}
	p.text{
		margin-top: 25px;
		&:last-of-type{
			margin-top: 0;
		}
	}
}
#logo{
	a{
		display: inline-block;
		margin: 0 10px;
		&:first-of-type{margin-left: 0;}
		&:last-of-type{margin-right: 0;}
		img{
			display: inline-block;
			vertical-align: top;
			width: 100%;
			height: auto;
		}
	}
}
#contact{
	text-align: center;
	background: #222222;
	position: relative;
	z-index: 2;
	overflow: hidden;
	&:before{
		content: '';
		display: block;
		width: 	1469px;
		height: 720px;
		position: absolute;
		top: 80px;
    	right: -630px;
		background: url('../images/map.png') no-repeat;
	}
	h2{
		color: #fff;
	}
	form{
		margin: 25px 0;
		input{
			height: 50px;
			margin-bottom: 20px;
		}
		textarea{
			height: 190px;
			padding-top: 15px;
		}
	}
}


/* Extra small devices (phones, less than 768px) */

@media (max-width: 767px) { 
	.box{
		padding: 60px 0;
	}
	.title{
		font: bold 32px Arial, sans-serif; 
	}
	p.discription{
		font-size: 14px;
		color: #2e2e2e;
	}
	#home{
		h3{
			font-size: 19px;
			line-height: 19px;
			margin-bottom: 10px;
		}
		h1{
			font-size: 23px;
			line-height: 23px;
			text-transform: uppercase;
			margin-bottom: 70px;
		}
	}
	#service .container-wrap{
		padding-top: 30px;
		.service-item{
			margin-bottom: 30px;
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}
	#about #right img, #about #left img  {
		margin: 0 auto;
	}
	
	#about #left p, #right p{
		text-align: justify;
	}
	


}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) and (max-width: 992px) { 
	.box{
		padding: 60px 0;
	}
	#home{
		h3{
			font-size: 25px;
			line-height: 25px;
			margin-bottom: 20px;
		}
		h1{
			font-size: 60px;
			line-height: 60px;
			text-transform: uppercase;
			margin-bottom: 50px;
		}
	}
	#service .container-wrap{
		padding-top: 30px;
	}
	#about #right img {
		margin: 0;
	}
	#about #left img {
		margin-left: 15px;
	}
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}